<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
    <link rel="stylesheet" href="/css/output.css">
    </head>
<body>
    <h1 class="mb-3">Welcome to Airbnb</h1>
    <a href="/listings">View Listings</a>
    </br>
    <a href="/user/profile">User Profile</a>
    </br>
    <a href="/user/settings">User Settings</a>
</body>
</html>